@use 'src/styles/colors' as *;
@use 'src/styles/animations' as *;

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

@for $i from 1 through 3 {
  .main > div:nth-child(#{$i}) {
    @include animation-slide-in-up(normal, 40%, #{($i - 1) * 0.2}s);
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0.7rem;
  opacity: 0;

  &.sm {
    gap: 0.3rem;
  }

  &.lg {
    gap: 1.5rem;
  }
}

.scroll {
  overflow-x: scroll;
  padding: 0.7rem;
}
