@use 'src/styles/colors' as *;
@use 'src/styles/z-index' as *;

.detail {
    display: flex;
    // flex-direction: column;
    // gap: 0.5rem;
    overflow: hidden;
    position: relative;

    > img {
        @include z-index(background);
        position: absolute;
        top: 0;
        left: 0;

        width: 10%;
        height: 10%;
        object-fit: cover;
        filter: brightness(95%) blur(2px) saturate(80%);
    }
}
