@use 'src/styles/colors' as *;

.profile {
  gap: 1rem;
}

.meetups {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.title {
  align-self: flex-start;
  margin-left: 0.5rem;
  color: clr(primary-clr);
  font-size: 1.1rem;
  font-weight: 700;
}

.blank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  color: clr(gray-clr, light);
  font-size: 1rem;
  font-weight: 700;
}
