@use 'src/styles/z-index' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 1rem 10rem 1rem;
}

.video {
    @include z-index(background);
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    filter: brightness(0.5);
}
