@use 'src/styles/colors' as *;

.container {
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.content {
  position: absolute;
  display: grid;
  gap: 15rem;
}

.slogan {
  display: grid;
  gap: 1rem;
  text-align: center;
  color: clr(white-clr);
}

.video {
  width: 100vw;
  filter: brightness(0.5);
}
