@use 'src/styles/colors' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  background-color: white;

  &.padding {
    padding: 1.7rem 1.7rem;
  }
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
}

.map {
  width: 100%;
  height: 19rem;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  &.gap {
    gap: 1rem;
  }

  > .item {
    flex: 1;
  }

  > .item:nth-child(2) {
    border-left: 1px solid clr(gray-clr, light);
    border-right: 1px solid clr(gray-clr, light);
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem 0;
  gap: 0.3rem;
}

.itemTitle {
  font-size: 0.9rem;
  font-weight: 700;
  color: clr(gray-clr);
}

.itemContent {
  font-size: 1rem;
  font-weight: 700;
}

.icon {
  color: clr(primary-clr);
}
