@use 'src/styles/colors' as *;

.alarm {
  padding: 1rem;
  cursor: pointer;

  &.read {
    background-color: transparentize(clr(gray-clr, light), 0.7);
  }
}

.alarm-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .time {
    color: $gray;
    font-size: 0.7rem;
  }
}

.title {
  display: flex;
  align-items: center;
  font-weight: bold;

  > svg {
    font-size: 1.4rem;
  }

  &.unread {
    .dot {
      color: $red;
    }
  }

  &.read {
    .dot {
      color: clr(shadow-clr, light);
    }
  }
}

.content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1.5rem;
}
