@use 'src/styles/colors' as *;

.alarm-box {
    padding: 1rem;
    // Todo 알람 읽고 안읽고 CSS 나누기
    &.alarm-unread {
        .dot {
            color: $red;
            font-size: 1.5rem;
        }
    }

    .alarm-title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        .alarm-title {
            display: flex;
            align-items: center;

            > .dot {
                color: $shadow-light;
                font-size: 1.5rem;
            }

            > span {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }

        > span {
            color: $gray;
            font-size: 0.8rem;
        }
    }

    .alarm-content {
        padding-left: 1.5rem;
    }
}
