@use 'src/styles/colors' as *;

.level-modal {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 1.2rem;

  .level {
    display: grid;
    grid-template-columns: 1.5fr 1.1fr 1fr;
    align-items: center;

    font-size: 1rem;
    font-weight: 700;

    > img {
      width: 1.4rem;
    }
  }
}
