@use 'src/styles/colors' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 0.5rem;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group {
  display: flex;
  align-items: center;
  color: clr(gray-clr, light);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;

  > svg {
    font-size: 1.4rem;
  }

  &:hover {
    color: clr(gray-clr, dark);
  }
}

.flexbox {
  display: flex;
  gap: 1rem;
  font-weight: 700;
}
