.img {
  display: flex;
  position: absolute;
  top: 1rem;
  left: 50%;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
  transform: translate(-50%, 0);

  > button:first-child {
    position: absolute;
    bottom: 0;
    right: -6.5rem;
  }

  > div:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
