@use 'src/styles/colors' as *;

.profile-box {
    position: relative;
    padding-top: 5rem;

    .profile-img {
        position: absolute;
        top: 1rem;
        left: 7.5rem;

        padding: 0.5rem;

        border-radius: 50%;

        &.light {
            background-color: $white;
            box-shadow: -1px 3px 5px 0px $shadow-light;
        }

        &.dark {
            background-color: $black;
        }
    }

    .user-record {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 0.5rem;

        .btn-box {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            width: 100%;
        }

        .username {
            color: $primary-light;
            font-size: 1.4rem;
            font-weight: bold;
        }

        > span {
            margin-bottom: 1rem;
            color: $gray;
            font-size: 0.9rem;
        }
    }
}
