@use 'src/styles/colors' as *;
@use 'src/styles/animations' as *;
@use 'src/styles/z-index' as *;

.profile {
  position: relative;
  width: 100%;
  padding-top: 5.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.alarm-siren {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.siren {
  display: none;
  position: absolute;
  right: 0;
  top: 1rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  > svg {
    color: clr(red-clr);
  }
}

.alarm {
  position: relative;
  margin: 1rem;

  &.unread {
    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0.1rem;
      right: 0;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background-color: clr(red-clr);
    }
  }
}

.img {
  @include z-index(content);
  display: flex;
  position: absolute;
  top: 1rem;
  left: 50%;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5rem;
  transform: translate(-50%, 0);
}

.record {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  @include animation-slide-in-up(normal, 10%);
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.username {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: clr(primary-clr, light);
  font-size: 1.4rem;
  font-weight: 700;
}

.email {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: clr(gray-clr, light);
}

.stranger {
  &.alarm {
    display: none;
  }

  &.btns {
    visibility: hidden;
  }

  &.siren {
    display: block;
  }

  &.email {
    visibility: hidden;
  }
}
