@use 'src/styles/colors' as *;

.profile-page {
    gap: 1rem;

    > img:first-child {
        z-index: 1;
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
    }

    > .title {
        align-self: flex-start;
        color: clr(primary-clr);
        font-size: 1.2rem;
        font-weight: bold;
    }
}
