@use 'src/styles/colors' as *;

.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.8rem 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 0;
  width: 100%;
  height: 100%;
}

.border {
  border-right: 0.1rem solid transparentize(clr(gray-clr, light), 0.5);
}

.title {
  font-weight: 700;
  font-size: 0.9rem;
  color: clr(gray-clr);
}
