@use 'src/styles/colors' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2.1rem;
  gap: 1.5rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 800;
}

.content {
  font-size: 1rem;
  text-align: center;
  white-space: pre-wrap;
  line-height: 150%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
