.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.flexbox {
  display: flex;
  align-items: self-end;
  gap: 1rem;
  width: 100%;
}

.dropdown {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
