@use 'src/styles/colors' as *;

.list {
  display: flex;
  flex-direction: column;
  width: 100%
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  border-bottom: 0.1rem solid clr(secondary-clr, dark);
}

.text {
  font-size: 1rem;
  font-weight: bold;
  color: clr(primary-clr);
}