@use 'src/styles/z-index' as *;

.container {
  justify-content: center;
  gap: 15rem;
  overflow: hidden;
}

.video {
  @include z-index(background-image);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: brightness(0.5);
}
