@font-face {
  font-family: 'SUIT Regular';
  font-style: normal;
  font-weight: 100;
  src: url('./../assets/fonts/SUIT-Regular.ttf');
}

@font-face {
  font-family: 'Mobile POP';
  font-style: normal;
  font-weight: 100;
  src: url('./../assets/fonts/ONE_Mobile_POP.ttf');
}

@font-face {
  font-family: 'Tmoney Round';
  font-style: normal;
  font-weight: 100;
  src: url('./../assets/fonts/TmoneyRoundWindRegular.ttf');
}
