@use 'src/styles/colors' as *;

.asset {
  position: absolute;

  &.open {
    top: -100%;
  }

  &.close {
    top: -5%;
    right: -24%;
  }
}

.mttitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 1.5rem;
  gap: 1.2rem;
}

.title {
  font-size: 1.7rem;
  font-weight: 600;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  .content {
    flex: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-right: clr(gray-clr, light) solid 2px;
}

.bold {
  font-size: 1.1rem;
  font-weight: bold;
}

.text {
  font-size: 0.9rem;
}

.img {
  width: 3rem;
  height: 3rem;
}
