@use 'src/styles/colors' as *;

.album {
  width: 100%;
}

.titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}

.title {
  color: clr(primary-clr);
  font-size: 0.9rem;
  font-weight: bold;
}

.photos {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0.5rem;
  -webkit-overflow-scrolling: touch; /* 모바일에서 부드러운 스크롤 지원 */
}

.photo {
  aspect-ratio: 1/1;
  width: 30%;
  border-radius: 0.3rem;
  object-fit: cover;
}
