@use 'src/styles/colors' as *;

.review {
  display: flex;
  border-radius: 0.3rem;
  border-bottom: 0.01rem solid clr(white-clr, dark);
  padding: 0.4rem;

  > img {
    margin-top: 0.3rem;
  }

  &.light {
    background-color: clr(white-clr, light);
  }

  &.dark {
    background-color: clr(white-clr, light);
  }
}

.content {
  margin-left: 0.5rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nickname {
  font-size: 0.8rem;
  font-weight: bold;
}

.btns {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.siren {
  display: flex;
  font-size: 0.8rem;
  cursor: pointer;

  &.red {
    > svg {
      color: clr(red-clr);
    }
  }

  &.gray {
    > svg {
      color: clr(gray-clr);
    }
  }
}
