@use 'src/styles/colors' as *;
@use 'src/styles/animations' as *;
@use 'src/styles/z-index' as *;

.container {
  display: flex;
  flex-direction: column;
  position: relative;

  &.right {
    align-items: flex-end;
  }
  &.left {
    align-items: flex-start;
  }
}

.select {
  padding: 0.4rem;
  display: flex;
  gap: 0.5rem;
  color: clr(primary-clr);
  font-size: 1rem;
  font-weight: 800;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    color: clr(primary-clr, dark);
  }
}

.arrow {
  transition: all 0.2s ease-in-out;

  &.up {
    transform: translateY(-10%) rotate(180deg);
  }
  &.down {
    transform: translateY(10%) rotate(0);
  }
}

.options {
  @include z-index(content);
  position: absolute;
  top: 2.1rem;
  min-width: 100%;
  max-height: 12rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
    background-color: clr(white-clr, light);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: clr(primary-clr, light);
  }
}

@for $i from 1 through 10 {
  .options > div:nth-child(#{$i}) {
    opacity: 0;
    @include animation-slide-in-down(fast, 30%, #{($i - 1) * 0.05}s);
  }
}

.option {
  position: relative;
  padding: 0.4rem;
  background-color: clr(white-clr, light);
  color: clr(gray-clr, dark);
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  box-shadow: 0 2px 3px 0 clr(shadow-clr);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: clr(tertiary-clr);
    background-color: clr(secondary-clr);
  }
}
