@use 'src/styles/colors' as *;

.btn {
  cursor: pointer;

  &.sm {
    > img {
      width: 2rem;
    }
    font-size: 1.5rem;
  }
  &.md {
    > img {
      width: 3rem;
    }
    font-size: 2rem;
  }

  &.lg {
    > img {
      width: 4rem;
    }
    font-size: 2.5rem;
  }

  &.dark {
    color: clr(black-clr, dark);
  }

  &.light {
    color: clr(white-clr, light);
  }

  &.primary {
    color: clr(primary-clr);
  }

  &.secondary {
    color: clr(secondary-clr);
  }

  &.gray {
    color: clr(gray-clr, light);
  }
}
