@use 'src/styles/colors' as *;
@use 'src/styles/z-index' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 0.6rem;
  border: 3px solid clr(secondary-clr);
  border-radius: 0.5rem;
  background-color: clr(white-clr, light);
  font-size: 1rem;
  font-weight: 600;
}

.input:focus {
  box-shadow: 0 0 2px 2px clr(lime-clr, light); /* 선택된 요소 주변에 블러 효과 적용 */
}

.input::placeholder {
  color: transparentize(clr(gray-clr, light), 0.4);
}

.input:disabled {
  background-color: clr(white-clr);
}

.options {
  @include z-index(content);
  position: absolute;
  top: 4rem;
  left: 1%;
  min-width: 98%;
  max-height: 15rem;
  overflow-y: auto;
  box-shadow: 0 2px 3px 0 clr(shadow-clr);

  &::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
    background-color: clr(white-clr, light);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: clr(primary-clr, light);
  }
}

.option {
  width: 100%;
  padding: 0.6rem;
  background-color: clr(white-clr, light);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.option:hover {
  background-color: clr(secondary-clr, dark);
}
