@use 'src/styles/z-index' as *;

.modal {
  @include z-index(modal);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000063;
}

.content {
  max-width: 90vw;
  max-height: 80vh;
  overflow: scroll;
}
