@use 'src/styles/animations' as *;

.container {
  display: flex;
  width: 100%;

  &.sm {
    flex-direction: row;
    gap: 0.4rem;
  }

  &.lg {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@for $i from 1 through 10 {
  .container > div:nth-child(#{$i}) {
    opacity: 0;
    @include animation-slide-in-up(normal, 40%, #{($i - 1) * 0.1}s);
  }
}
