@use 'src/styles/colors' as *;
@use 'src/styles/z-index' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 1rem 0rem;
  width: 100%;

  &.dark {
    color: clr(tertiary-clr);
  }

  &.light {
    color: clr(white-clr, light);
  }

  &.primary {
    color: clr(primary-clr);
  }
}

.icon {
  @include z-index(content);
  font-size: 2rem;
  cursor: pointer;
}

.title {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: 700;

  &.sm {
    font-size: 1.3rem;
  }
  &.md {
    font-size: 1.5rem;
  }
  &.lg {
    font-size: 1.7rem;
  }
}
