@use 'src/styles/colors' as *;

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem;
  gap: 0.5rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
}

.img {
  width: 100%;
  border-radius: 0.5rem;
}

.siren {
  position: absolute;
  right: 0.3rem;
  padding: 0.3rem;
  color: clr(gray-clr);
  font-size: 0.8rem;
  cursor: pointer;

  > svg {
    color: clr(red-clr, dark);
  }
}

.delete {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  color: clr(red-clr);
  font-size: 1.5rem;
}
