@use 'src/styles/colors' as *;
@use 'src/styles/animations' as *;

.page {
  gap: 0.5rem;
}

.intro {
  width: 100%;
  margin-top: 1rem;
}

.content {
  gap: 1rem;
}

@for $i from 1 through 10 {
  .page > div > div:nth-child(#{$i}) {
    opacity: 0;
    @include animation-slide-in-up(normal, 10%, #{($i - 1) * 0.1}s);
  }
}
