@use 'src/styles/colors' as *;

.header {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: space-between;
  width: 68%;
}

.title {
  font-size: 2.5rem;
  color: clr(primary-clr);
}

.image {
  width: 2.5rem;
  height: 2.5rem;
}
