.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.dark {
    div {
        background-color: orange;
    }
}

.light {
    div {
        background-color: blue;
    }
}
