@use 'src/styles/colors' as *;
@use 'src/styles/z-index' as *;
@use 'src/styles/animations' as *;

.page {
  overflow: hidden;
  background: linear-gradient(to bottom, #ade2f5, #fdfeff);
}

.content {
  @include z-index('content');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  color: clr(primary-clr);
}

.mountain {
  position: absolute;
  width: 26rem;
  height: auto;
  bottom: 0rem;
}

.clouds path {
  width: 100%;
  fill: white;
}

$sizes: 10rem, 12rem, 6rem, 7rem, 10rem, 8rem; // 구름 크기
$tops: 2rem, 13rem, 6em, 15rem, 1rem, 12rem; // 구름 top 위치

@for $i from 1 through 6 {
  .clouds > div {
    width: 100%;
    position: absolute;
  }
  // 구름 가로로 흐르는 애니메이션
  .clouds > div:nth-child(#{$i}) {
    @include animation-left-flowing(36s, 100%, -(6 * $i) + s);
    top: nth($tops, $i);
  }
  // 구름 위아래로 둥둥 떠다니는 애니메이션
  .clouds > div:nth-child(#{$i}) svg {
    @include animation-floating(6s, 0.5rem, -$i + s);
    width: nth($sizes, $i);
  }
}
