.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.flex {
  display: flex;
  align-items: self-end;
  gap: 1rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
