@use 'src/styles/colors' as *;

.page {
    position: relative;
    z-index: 5;
    min-width: 100vw;
    min-height: 100vh;

    &.light {
        background-color: $bg-light;
        color: $black;
    }

    &.dark {
        background-color: $bg-dark;
        color: $white;
    }
}

.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

.box {
    border-radius: 1rem;

    &.light {
        border-radius: 0.5rem;

        background-color: $white;
        color: $black;

        box-shadow: -1px 3px 5px 0px $shadow-light;
    }

    &.dark {
        border-radius: 3%;

        background-color: $black;
        color: $white;
        background-color: $box-dark;
    }
}

.flex {
    width: 100%;
    height: 100%;
}
