@use 'src/styles/colors' as *;

.icon-btn {
    &:hover {
        cursor: pointer;
    }
    &.sm {
        width: 2rem;
    }

    &.md {
        width: 3rem;
    }

    &.lg {
        width: 4rem;
    }
}
