@use 'src/styles/colors' as *;

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.xs {
    img {
      width: 1.3rem;
    }
    font-size: 0.7rem;
  }

  &.sm {
    img {
      width: 1.3rem;
    }
    font-size: 0.9rem;
  }

  &.md {
    img {
      width: 1.5rem;
    }
    font-size: 1rem;
  }

  &.lg {
    img {
      width: 1.7rem;
    }
    font-size: 1.2rem;
  }

  &.bold {
    font-weight: 800;
  }

  &.right {
    flex-direction: row-reverse;
  }
}
