@use 'styles/colors' as *;

div {
    display: flex;
    align-items: center;

    &.sm {
        img {
            width: 1rem;
        }
        font-size: 1rem;
    }

    &.md {
        img {
            width: 1.8rem;
        }
        font-size: 1.5rem;
    }

    &.lg {
        img {
            width: 2.2rem;
        }
        font-size: 1.8rem;
    }

    &.bold {
        font-weight: bold;
    }

    &.right {
        flex-direction: row-reverse;
    }
}

.light {
    color: $black;
}

.dark {
    color: $white;
}
