@use 'src/styles/colors' as *;

.label-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    width: 100%;

    label {
        margin: 0 0 0 0.5rem;
        font-size: 0.9rem;
        font-weight: 800;
        color: $black;
    }

    input {
        width: 100%;
        padding: 0.5rem;
        border: 2px solid $secondary-light;
        border-radius: 0.5rem;
        background: $white;
        color: $gray;
        font-size: 1rem;
        font-weight: 600;

        // 유효성 검사 실시했을 때, 에러 표시
        &.error {
            border: 2px solid $red;
        }
    }

    input:focus {
        outline: none; /* 기본 focus 스타일 제거 */
        border-color: $primary-light;
        box-shadow: 0 0 0 2px $secondary-light; /* 선택된 요소 주변에 블러 효과 적용 */

        // 유효성 검사 실시했을 때, 에러 표시
        &.error {
            border: 2px solid $red;
        }
    }
}
