.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.spinner {
    &.sm {
        width: 3rem;
    }
    &.md {
        width: 5rem;
    }
    &.lg {
        width: 7rem;
    }
    stroke-dasharray: 255px;
    stroke-dashoffset: 10px;
    animation: spin 2s ease-in-out infinite; // svg에 회전 애니메이션을 적용합니다.
}

@keyframes spin {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 510px;
    }
}
