@use 'src/styles/colors' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  position: relative;
  width: 100%;

  &.dark {
    color: $black;
  }

  &.light {
    color: clr(white-clr);
  }

  &.primary {
    color: $primary;
  }
}

.icon {
  position: absolute;
  left: 0;
  font-size: 2rem;
  cursor: pointer;
}

.title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 600;

  &.sm {
    font-size: 1.3rem;
  }
  &.md {
    font-size: 1.5rem;
  }
  &.lg {
    font-size: 1.7rem;
  }
}
