@use 'src/styles/colors' as *;
@use 'src/styles/z-index' as *;

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  font-weight: 600;
  cursor: pointer;

  &.sm {
    min-width: 13rem;
    gap: 0.4rem;
  }

  &.lg {
    width: 100%;
    gap: 0.6rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  margin: 0 0 0 1rem;
  color: clr(primary-clr);
  font-size: 1.1rem;
  font-weight: 600;
}

.info {
  display: flex;

  &.sm {
    flex-direction: column;
    gap: 0.4rem;
  }
  &.lg {
    gap: 1.5rem;
  }
}

.flexbox {
  display: flex;
  gap: 1.5rem;
}

.medal {
  position: absolute;
  top: 0;
  transform: translateX(-20%) translateY(-20%);
  left: 0;
  width: 2.5rem;
}

.rank {
  position: absolute;
  top: 0;
  left: 0;
  background-color: clr(primary-clr);
  min-width: 1.8rem;
  padding: 0.2rem 0.1rem 0.1rem;
  border-radius: 0.7rem 0 0.2rem 0;
  color: clr(white-clr, light);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

// 산 별점 컴포넌트
.mt-rating {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;

  div {
    display: flex;
    align-items: flex-end;
    gap: 0.1rem;
  }

  .green {
    color: clr(primary-clr);
  }

  .gray {
    color: clr(gray-clr);
  }
}
