@use 'styles/colors' as *;

.bg-light {
    background-color: #dddddd;
    color: $black;
}

.bg-dark {
    background-color: $black;
    color: $white;
}

.box-light {
    background-color: $white;
    color: $black;
}

.box-dark {
    background-color: #555555;
    color: $white;
}

.flex {
    width: 100%;
    height: 100%;
}
