@use 'styles/colors' as *;

.page {
    position: relative;
    z-index: 5;
    min-width: 100vw;
    min-height: 100vh;

    &.light {
        background-color: $bg-light;
        color: $black;
    }

    &.dark {
        background-color: $black;
        color: $white;
    }
}

.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

.box {
    &.light {
        background-color: $white;
        color: $black;
    }

    &.dark {
        background-color: $black;
        color: $white;
    }
}

.flex {
    width: 100%;
    height: 100%;
}
