@use 'src/styles/colors' as *;
@use 'src/styles/animations' as *;

.page {
  gap: 0.5rem;
}

.btn {
  position: absolute;
  top: 10.3%;
  right: 2%;
}

.intro {
  width: 100%;
  margin-top: 1rem;
}

.content {
  gap: 1rem;
}

@for $i from 1 through 4 {
  .content > div:nth-child(#{$i}) {
    opacity: 0;
    @include animation-slide-in-up(normal, 10%, #{($i - 1) * 0.1}s);
  }
}
