@use 'src/styles/colors' as *;

.container {
  padding-top: 1rem;
  gap: 0.5rem;
}

.search {
  position: sticky;
  top: 0rem;
  width: 100%;
  margin-bottom: 1rem;
}

.clubs {
  overflow-y: auto;
  width: 100%;
}
